<div class="opedning">
<div class="container-fluid ">
        <div class="heading">
            Our Service
        </div>
        <div class="landing">
            <mat-accordion [multi]="false">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            EV/Battery Manufacturers <img src="battery.svg" alt="" class="acc-img">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Vehicle procurement and leasing to improve accessibility.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Fleet Operators & Franchisees <img src="fleet.svg" alt="" class="acc-img">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Technology-driven fleet management systems.</li>
                        <li>Solar-powered charging station deployment.</li>
                        <li>Real-time operational control via mobile apps.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Marketing <img src="marketing.svg" alt="" class="acc-img">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Comprehensive digital campaigns to boost brand visibility.</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Training & Employment <img src="Training.svg" alt="" class="acc-img">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Empowering women and transgender individuals through EV industry training programs</li>
                    </ul>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            Travelers & End Users <img src="user.svg" alt="" class="acc-img">
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <ul>
                        <li>Ride-Hailing App: A fast, commission-free, and cost-effective solution.</li>
                        <li>Safety Features: Includes live camera streaming for secure rides.</li>
                        <li>B2B Transportation: Reliable EV services for business needs.</li>
                    </ul>
                </mat-expansion-panel>

            </mat-accordion>
        </div>
</div>
</div>