<div class="container-fluid landing-page">
    <div class="container">
        <div class="row">
            <div class="col-6 landing-1">
                <div class="Heading-text"> Welcome to Eden Green Mobility (EGM)</div>
                <div class="sub-heading-text">Driving the Future of Sustainable Transportation</div>
                <div class="landing-text">At <span class="green-text">Eden Green Mobility</span>, we are committed to building a sustainable and
                    inclusive electric vehicle (EV) ecosystem. With innovative solutions and strategic partnerships, we
                    aim to revolutionize transportation and significantly reduce carbon emissions.</div>
                    <button class="Readmore-btn">Read More..</button>
            </div>
            <div class="col-6">
                <img src="Landing-image.jpg" alt="" class="Landing-image">
            </div>
        </div>
    </div>
</div>