<div class="total">
<div class="dtview">
<div class="container-fluid landing-page dtview">
  <div class="container">
    <div class="row">
      <div class="heading">
        Our Approuch
      </div>
      <div class="subheading">
        We tackle the challenges faced by stakeholders in the EV ecosystem
      </div>
    </div>

    <div class="approach-card-align">

      <div class="approach-card">
        <img src="Landing-image.jpg" alt="" class="approach-img">
        <div class="card-heading">EV Manufacturers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Supporting market growth through dealership expansion and strategic partnerships.
          </li>

          <li class="bullet-item">
            Enhancing customer reach by providing innovative marketing and distribution solutions.
          </li>
        </ul>
      </div>

      <div class="approach-card">
        <img src="Landing-image.jpg" alt="" class="approach-img">
        <div class="card-heading">EV Dealers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Providing sustainable business models to reduce investment costs.
          </li>

          <li class="bullet-item">
            Driving consumer awareness about EV benefits.
          </li>
        </ul>
      </div>
      <div class="approach-card">
        <img src="Landing-image.jpg" alt="" class="approach-img">
        <div class="card-heading">Buyers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Expanding charging infrastructure, including solar-powered solutions.
          </li>

          <li class="bullet-item">
            Simplifying maintenance with accessible service options.
          </li>
        </ul>
      </div>

      <div class="approach-card">
        <img src="Landing-image.jpg" alt="" class="approach-img">
        <div class="card-heading">Drivers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Reducing EV ownership costs through innovative leasing and training programs.
          </li>

          <li class="bullet-item">
            Offering maintenance education and lowering insurance costs.
          </li>
        </ul>
      </div>

      <div class="approach-card">
        <img src="Landing-image.jpg" alt="" class="approach-img">
        <div class="card-heading">Environment</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Promoting EV adoption to cut emissions and improve energy efficiency.
          </li>

          <li class="bullet-item">
            Leveraging renewable energy solutions for sustainable growth.
          </li>
        </ul>
      </div>

    </div>
  </div>
</div>
</div>

<div class="mdview">
  <div class="container">
    <div class="row">
      <div class="heading">
        Our Approuch
      </div>
      <div class="subheading">
        We tackle the challenges faced by stakeholders in the EV ecosystem
      </div>
    </div>
<div class="com-center ">
  <div id="demo" class="carousel slide slide-align" data-bs-ride="carousel" data-bs-interval="3000"> 
    <!-- Automatically slides every 3 seconds (3000 milliseconds) -->
    
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
      <button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
    </div>
   
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="approach-card">
          <div class="img">
            <img src="Landing-image.jpg" alt="" class="approach-img">
          </div>
          <div class="card-heading">EV Manufacturers</div>
          <ul class="bullet-list">
            <li class="bullet-item">
              Supporting market growth through dealership expansion and strategic partnerships.
            </li>
            <li class="bullet-item">
              Enhancing customer reach by providing innovative marketing and distribution solutions.
            </li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="approach-card">
          <div class="img">
            <img src="Landing-image.jpg" alt="" class="approach-img">
          </div>
          <div class="card-heading">EV Dealers</div>
          <ul class="bullet-list">
            <li class="bullet-item">
              Providing sustainable business models to reduce investment costs.
            </li>
            <li class="bullet-item">
              Driving consumer awareness about EV benefits.
            </li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="approach-card">
          <div class="img">
            <img src="Landing-image.jpg" alt="" class="approach-img">
          </div>
          <div class="card-heading">Buyers</div>
          <ul class="bullet-list">
            <li class="bullet-item">
              Expanding charging infrastructure, including solar-powered solutions.
            </li>
            <li class="bullet-item">
              Simplifying maintenance with accessible service options.
            </li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="approach-card">
          <div class="img">
            <img src="Landing-image.jpg" alt="" class="approach-img">
          </div>
          <div class="card-heading">Drivers</div>
          <ul class="bullet-list">
            <li class="bullet-item">
              Reducing EV ownership costs through innovative leasing and training programs.
            </li>
            <li class="bullet-item">
              Offering maintenance education and lowering insurance costs.
            </li>
          </ul>
        </div>
      </div>
      <div class="carousel-item">
        <div class="approach-card">
          <div class="img">
            <img src="Landing-image.jpg" alt="" class="approach-img">
          </div>
          <div class="card-heading">Environment</div>
          <ul class="bullet-list">
            <li class="bullet-item">
              Promoting EV adoption to cut emissions and improve energy efficiency.
            </li>
            <li class="bullet-item">
              Leveraging renewable energy solutions for sustainable growth.
            </li>
          </ul>
        </div>
      </div>
    </div>
    
    <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
      <span class="carousel-control-next-icon"></span>
    </button>
  </div>
  
<!-- <div id="demo" class="carousel slide slide-align" data-bs-ride="carousel " data-bs-interval="3000">
  
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>
 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <div class="approach-card">
        <div class="img">
        <img src="Landing-image.jpg" alt="" class="approach-img">
      </div>
        <div class="card-heading">EV Manufacturers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Supporting market growth through dealership expansion and strategic partnerships.
          </li>

          <li class="bullet-item">
            Enhancing customer reach by providing innovative marketing and distribution solutions.
          </li>
        </ul>
      </div>
    </div>
    <div class="carousel-item">
      <div class="approach-card">
        <div class="img">
        <img src="Landing-image.jpg" alt="" class="approach-img">
      </div>
        <div class="card-heading">EV Dealers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Providing sustainable business models to reduce investment costs.
          </li>

          <li class="bullet-item">
            Driving consumer awareness about EV benefits.
          </li>
        </ul>
      </div>
    </div>
    <div class="carousel-item">

      <div class="approach-card">
        <div class="img">
        <img src="Landing-image.jpg" alt="" class="approach-img">
      </div>
        <div class="card-heading">Buyers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Expanding charging infrastructure, including solar-powered solutions.
          </li>

          <li class="bullet-item">
            Simplifying maintenance with accessible service options.
          </li>
        </ul>
      </div>

    </div>
    <div class="carousel-item">
      <div class="approach-card">
        <div class="img">
          <img src="Landing-image.jpg" alt="" class="approach-img">
        </div>
        <div class="card-heading">Drivers</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Reducing EV ownership costs through innovative leasing and training programs.
          </li>

          <li class="bullet-item">
            Offering maintenance education and lowering insurance costs.
          </li>
        </ul>
      </div>

    </div>
    <div class="carousel-item">
      <div class="approach-card">
        <div class="img">
        <img src="Landing-image.jpg" alt="" class="approach-img">
      </div>
        <div class="card-heading">Environment</div>
        <ul class="bullet-list">
          <li class="bullet-item">
            Promoting EV adoption to cut emissions and improve energy efficiency.
          </li>

          <li class="bullet-item">
            Leveraging renewable energy solutions for sustainable growth.
          </li>
        </ul>
      </div>

    </div>
  </div>
  

  
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div> -->
</div>
</div>
</div>