.landing-page {
    background-color: #ffffff;
    
}

.About-image {
    width: 100%;
    height: 74%;
    margin-top: 111px;
}

.heading {
    font-family: "League Spartan", sans-serif;
    font-size: 30px;
    margin-top: 100px;
    color: green;
    font-weight: 600;
}

.subheading{
    font-family: "League Spartan", sans-serif;
    font-size: 27px;
    margin-top: 30px;
    color: #5a981b;
    font-weight: 600;

}

.about-text{
    font-family: "League Spartan", sans-serif;
    font-size: 22px;
    margin-top: 20px;
    font-weight: 400;
   text-align: justify;
}

.about-content{
    padding: 40px;
}

.quote-image{
    width: 53px;
    height: auto;
    margin-top: -22px;
}

.mis-con{
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 12px;
    margin-top: 26px;
}

.mis-con:hover{
    box-shadow: #c1ff83 0px 8px 10px;
    
}


.mis-head{
    font-size: 24px;
    font-family: "League Spartan", sans-serif;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 8px;
}

.mis-text{
    font-size: 17px;
    font-family: "League Spartan", sans-serif;
    margin-top: 7px;
    margin-left: 8px;
}

.about-svg{
    width: 18%;
    margin-top: 5px;
    margin-left: 8px;
}

.service-btn{
    background-color: #5a981b;
    color: #ffffff;
    width: 31%;
    height: 6%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 29px 5px 30px 2px;
    border: none;
    margin-top: 45px;
    height: 50px;

}

.service-btn:hover{
    background-color: #21212d;
    color: #ffffff;
    width: 31%;
    height: 6%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px 29px 2px 29px;
    border: none;
    margin-top: 45px;
    height: 50px;   
    
}

.btn-4{
    display: flex;    ;
        justify-content: center;
}