<div class="container-fluid landing-page">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <img src="About-image.jpg" alt="" class="About-image">
            </div>
            <div class="col-sm-6 col-12 about-content">
                <div class="heading">About Us</div>
                <div class="subheading"><img src="quote.svg" alt="" class="quote-image">Driving Change for a Greener
                    Tomorrow</div>
                <div class="about-text"><b>Eden Green Mobility (EGM)</b> is an initiative by Eden Green Energy Private
                    Limited,
                    headquartered in Tamil Nadu. We specialize in eco-friendly shared mobility services, empowering all
                    stakeholders in the EV ecosystem while promoting a cleaner, greener future.
                </div>

                <div class="container">
                    <div class="row">

                        <div class="col-sm-6 col-12">
                            <div class="mis-con">
                                <div>
                                    <img src="road-svgrepo-com.svg" alt="" class="about-svg">
                                </div>
                                <div class="mis-head">
                                    Our Mission
                                </div>
                                <div class="mis-text">
                                    Transforming transportation by ensuring EV adoption is smooth and within reach.
                                </div>

                            </div>
                        </div>

                        <div class="col-sm-6 col-12">
                            <div class="mis-con">
                                <div>
                                    <img src="bulb-lighting-svgrepo-com.svg" alt="" class="about-svg">
                                </div>
                                <div class="mis-head">
                                    Our Vision
                                </div>
                                <div class="mis-text">
                                    Creating a greener future through advanced mobility solutions and shared progress.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="btn-4">
                <button class="service-btn">Our Services</button>
            </div>
            </div>
        </div>
    </div>
</div>