<nav class="nav-bar">
    <div class="container">
        <div class="row ">
            <div class="col-sm-2 col-6">
                <img class="logo" src="Logo.jpeg" alt="logo">
            </div>
            <div class="col-sm-8 nav-items dt-view" >
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#approach">Our Approach</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">Why ?</a>
                  </li>
                </ul>
              </div>
              <div class="col-sm-2 col-6 text-end ">
                <button class="contact-btn dt-view">Contact</button>
                <div class="md-view">



                  <div class="desktop-hide">
                    <div class="side-menu-bar ">
                        <div class="menu-bar-align" type="button" data-bs-toggle="offcanvas" data-bs-target="#demo" ria-controls="demo">
                          <div class="menu-bar"></div>
                          <div class="menu-bar"></div>
                          <div class="menu-bar"></div>
                        </div>
                    </div>
                </div>
                
             </div>
          </div>
      </div>
      
      
      
      <div class="offcanvas offcanvas-end" id="demo">
        
        <div class="offcanvas-header">
        
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          
          <p data-bs-dismiss="offcanvas"><a href="#About" class="menu-item" > About</a></p>
          <p data-bs-dismiss="offcanvas"><a href="#Our Approach" class="menu-item" > Our Approach</a></p>
          <p data-bs-dismiss="offcanvas"><a href="#Team" class="menu-item" > Team</a></p>
          <p data-bs-dismiss="offcanvas"><a href="#Why" class="menu-item" > Why </a></p>
          <p data-bs-dismiss="offcanvas"><a href="#Contact" class="menu-item" > Contact</a></p>
          
        </div>
      </div>




                  
             



