

@media only screen and (min-width:1200px) {

  .md-view{
    display: none;
  }

.logo{
    width: 101%;
    height: 100%;
    padding: 10px;
    border-radius: 50px;

}

.header{
    padding: 10px;
    border-radius: 50px;
    background-color: #21212d;
    height: 105px;
}

.nav-items{
    margin-top: 12px;
    font-size: 24px;
}


.nav-bar{
    background-color: #21212d;
     position: fixed;
      z-index: 1000;
      width: 100%;
      height: 105px;
      padding: 10px;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffff;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover, 
.nav-link:focus, 
.nav-link.active {
    color: #dafaa4;
}

.nav-link:hover{
    text-decoration: underline;
    transform: rotateY(360deg);
    transition: transform 1.3s;
}

.contact-btn{
    background-color: #5a981b;
    color: #ffffff;
    width: 63%;
    height: 61%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    margin-top: 14px;
}

.contact-btn:hover{
    background-color: #ffffff;
    color: #5a981b;
    width: 63%;
    height: 61%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 50px;
    border: none;
    margin-top: 14px;
    transform: rotateY(360deg);
    transition: transform 0.6s;

}
}



@media only screen and (min-width:600px) and (max-width:1200px){

    .md-view{
        display: none;
      }
    
.logo{
    width: 87%;
    height: 95%;
    padding: 5px;
    border-radius: 50px;
    margin-top: 9px;

}

.header{
    padding: 5px;
    border-radius: 50px;
    background-color: #21212d;
    height: 50px;
}

.nav-items{
    margin-top: 12px;
    font-size: 15px;
}


.nav-bar{
    background-color: #21212d;
    position: fixed;
    z-index: 500;
    width: 100%;
    height: 81px;
    padding: 8px;
}

.nav-link {
    display: block;
    padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
    font-size: var(--bs-nav-link-font-size);
    font-weight: var(--bs-nav-link-font-weight);
    color: #ffffff;
    text-decoration: none;
    background: 0 0;
    border: 0;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out;
}

.nav-link:hover, 
.nav-link:focus, 
.nav-link.active {
    color: #dafaa4;
}

.nav-link:hover{
    text-decoration: underline;
    transform: rotateY(360deg);
    transition: transform 1.3s;
}

.contact-btn{
    background-color: #5a981b;
    color: #ffffff;
    border-radius: 50px;
    border: none;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 444;
    padding: 0px 10px;
    margin-top: 18px;
}

.contact-btn:hover{
    margin-top: 14px;
    transform: rotateY(360deg);
    transition: transform 0.6s;
    background-color: #ffffff;
    color: #5a981b;
    border-radius: 50px;
    border: none;
    margin-top: 14px;
    font-size: 20px;
    font-weight: 600;
    padding: 0px 15px;

}
}

@media only screen and (max-width:600px) {

    .dt-view{
        display: none;
      }
   
    .logo{
        width: 68%;
        height: 63%;
    padding: 5px;
    border-radius: 50px;
    margin-top: 6px;
    
    }
    
    .header{
        padding: 5px;
        border-radius: 50px;
        background-color: #21212d;
        height: 50px;
    }
    
   
    .nav-bar{
        background-color: #21212d;
        position: fixed;
        z-index: 500;
        width: 100%;
        height: 81px;
        padding: 8px;
    }
   


    .side-menu-bar{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        height: 77px;
        margin-top: 11px;
        
      }
     
    .menu-bar-align{
        height: 28px;
        width: 28px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-top: -34px;
        
    }
    .menu-bar{
      width:25px;
      border-color: #e9e6e4 ;
      border-bottom-width: 3px ;
      border-style: solid;
      
    }

    .menu-item{
    
      color: #06010b;
      font-weight: bold;
      text-decoration: none;
    }
    
    .btn-close{
        background-color: #5a981b;
    }



    .offcanvas-body{
        background-color: #dafaa4;
    }

}