<nav class="nav-bar">
    <div class="container">
        <div class="row ">
            <div class="col-2">
                <img class="logo" src="Logo.jpeg" alt="logo">
            </div>
            <div class="col-8 nav-items">
                <ul class="nav justify-content-center">
                  <li class="nav-item">
                    <a class="nav-link" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#approach">Our Approach</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">Team</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">Why ?</a>
                  </li>
                </ul>
              </div>
              <div class="col-2 text-end">
                <button class="contact-btn">Contact</button>
              </div>
        </div>
    </div>
</nav>